       <ol class="breadcrumb">
          <li>Page</li>
          <li><a href="#/Persona"><strong>Persona</strong></a></li>
      </ol>
          <div class="row" style="margin:0 0 0 30px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="text-align:center;height:250px;background-color:#e91e63 !important;color:#fff;margin-left:5px">
              <i class="glyphicon glyphicon-cloud"></i>
              <p id="climate"> 40 &#8451;</p>Chennai, Tamilnadu, India
                
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5" style="text-align:center;height:250px;background-color:#cddc39 !important;color:#fff;margin-left:5px;">
             <i class="fa fa-facebook"></i><br>
             <span class="facebook">1200</span><br>
             Messages
            </div>
        </div>
          <div class="row" style="margin:10px 0 0 30px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="text-align:center;height:250px;background-color:#ff9800 !important;color:#fff;margin-left:5px">
          <i class="fa fa-twitter"></i><br>
             <span class="twitter">800</span><br>
             Messages
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5" style="text-align:center;height:250px;background-color:#00bcd4 !important;color:#fff;margin-left:5px;">
              Market Today
              <h1>NSE Sensex:7,604 &nbsp;<i class="fa fa-rupee"></i><h1>
              <h1>BSE Sensex:25,000&nbsp; <i class="fa fa-rupee"></i></h1>
            </div>
        </div>